
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

.animate-ping {
    animation: ping 0.5s cubic-bezier(0, 0, 0.2, 1) 1;
}

@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75%, 100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
h1 {
	font-size: 16px;
	margin-top: 0;
}

p {
	color: rgb(107, 114, 128);
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.card {
	max-width: 620px;
	margin: 0 auto;
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 16px;
}

.card p:last-child {
	margin-bottom: 0;
}

.motto-img{display:block;margin:20px auto;width:220px;max-width:80%;}
